# In order to download the NCIDS package, you will have to set up the
# @nciocpl organizational scope in npm to see the package.
#
# Additionally, you must be logged in with a valid authentication token.

@nciocpl:registry=https://npm.pkg.github.com
