<a class="usa-skipnav {{ focus ? "usa-focus" }}" href="{{ href|default(contentID) }}">
  {{ label|default("Skip to main content (default)") }}
</a>
<button type="button" class="usa-button usa-button--primary">Button</button>